.main {

}
.col{
   display: inline-block;
   margin-right: 30px;

   border: 1px solid grey;


}
img{
    width: 360px;
    height: 240px;
}
.caption {
    text-align: center;
}

.col:hover {
    border: 2px solid black;
}