
section {
    line-height: 1.5;
    max-width: 60%;
    margin-left:auto;
    margin-right: auto;

    }


.container{ 
        float:left;
    }
    aside {
        display: inline-block;
        float: right;
        top:0px;    
    }
