*, *::after, *::before {
  box-sizing: border-box;
}
.flex-container{ 
  max-width: 800px;
  height: 300px;
  padding:0;
  margin: 0 auto;;
  list-style: none;
  border: 2px solid black;  
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row  wrap;
  justify-content:  space-around ;
  align-content: center;
  align-items: stretch;
   
   
   
   
   

  }
.flex-item {
  background: seagreen;
  padding: 5px;
  width: 150px;
  /* height: 150px; */
  margin-top: 10px;
  line-height: 150px;
  color: #fff;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
 
}
.flex-item:first-child {
  order: 2;
  align-self: flex-end;
   
}
.flex-item:nth-child(5) {
  order: 4;
  /* flex-grow: 2; */
}